@charset "UTF-8";
/*sdfsfdsdfdsfs*/
/* variables  */
:root {
  --vert:hsl(66, 40%, 50%);
  --orange:hsl(14, 80%, 50%);
  --blanc:hsl(0, 0, 100%);
  --noir:hsl(0, 0, 0);
}

/* mixin ---------------  */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a, a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

nav ul {
  list-style: none;
}

img {
  display: block;
}

/*-------------------------1------------------------------------------------------ 
-----------------------grilleDesktop----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------2------------------------------------------------------ 
-----------------------grilleMobile----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------3------------------------------------------------------ 
-----------------------sousGrilleContenu----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------9------------------------------------------------------ 
-----------------------NavPrincipale----------------------------------------------
----------------------------------------------------------------------------------  */
nav.menu {
  background-color: black;
  height: 4vh;
}

nav.menu li {
  display: none;
}

nav.menu > .material-icons {
  color: white;
  font-size: 4em;
}

/*-------------------------7------------------------------------------------------ 
-----------------------NavFooter----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------8------------------------------------------------------ 
-----------------------NavLangue----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------6------------------------------------------------------ 
-----------------------header----------------------------------------------
----------------------------------------------------------------------------------  */
header {
  display: block;
  background-image: url(../foodiesImg/header-assets/photo-480.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 37vh;
}

/*-------------------------5------------------------------------------------------ 
-----------------------Footer----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------4------------------------------------------------------ 
-----------------------ListeProduit----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------10------------------------------------------------------ 
-----------------------Publicité----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------11------------------------------------------------------ 
-----------------------gallerieImage----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------12------------------------------------------------------ 
-----------------------Login----------------------------------------------
----------------------------------------------------------------------------------  */
/*# sourceMappingURL=style.css.map */