/*------------------------------------------------------------------------------- 
-----------------------ListeProduit----------------------------------------------
----------------------------------------------------------------------------------  */
.interface{
    @include flex(column,center,center)
}

main{
    @include flex(row,center,flex-start)
    
}

section.article{
    @include flex(column, center,center);
        margin:0 1rem;
    &  h3{
        width:85%;
        font-size: 1.5rem;
        color: var(--orange); 
        padding-bottom: 0.5em;
        text-align: center;
        line-height: 3rem;
    }
    &  h4{
        display: block;
        width:50%;
        margin: 0 auto 3rem auto;
        background-color: var(--blanc);
        padding: 1rem 1rem;
        border: 2px solid var(--vert);
        font-size: 1.2rem;
        text-align: center;
        line-height: 3rem;
        position: relative;
        bottom:4rem;

    }

    & img.recette{
        width: 100%;
    }
    
}
article.principal{
    & > .entete{
        background-color: var(--vert);
        color:  var(--blanc);
        margin:3rem 0 2rem ;
        padding:1rem 0 ;
        text-align: center;
        font-weight: 100;
        font-size: 1.5rem;
    }

    & > section.titre{
        padding: 1em 2em;
        
    }

    & > section.titre > h2{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1em;
    }
    
    & > section.titre > p{
        opacity: 0.5;
        padding-top:0,5em;
    }

    & > .manShape{
        display: none;
    }
    & div{ 
        & .manShapeMobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5em 0 2rem 0;
        width: 50%;
        }

        & .prenom{
            font-weight:600;
            position: relative;
            bottom:6rem;
            left:12rem
        }
        & .famille{
            position: relative;
            bottom:6rem;
            left:12rem
        }
    }

    & > p{
         font-weight: 600;
         margin:0 3em 0em 3em;
         text-align: center;
         line-height: 3em;
    }
    
}

.origine{
    @include flex(column, center,center);
    margin: 1rem 3rem;
    text-align: justify;

    & h3{
        margin-left:2rem;
    }
}

.bonheur{
    @include flex(column, center,center);
    margin: 1rem 3rem 5rem;

    & figure{
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        padding-bottom: 2rem;

    }

    & figure img{
        width: 100%;
        
    }

    & figure p{
        font-size: 0.7rem;
    }
    & p{
        text-align: justify;
    }
}

article.recette{
    @include flex(column, center, center);
    margin:0;
    padding:0;

    & a p{
        width: 40%;
        background-color: var(--vert);
        color: var(--blanc);
        text-align: center;
        padding: 1rem;
        margin: 2rem auto 3rem auto;
        border-radius: 7px;
    }
    & a p:active{
        opacity: 0.8;
    }

    & p{
        font-size: 1rem;
        margin: -3rem 3rem 1rem 3rem;
        text-align: justify;
        padding-bottom: 3rem;
    }

    & > p{
        margin: 0 3rem;
    }
}
/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/

@media only screen and (min-width: 740px) {
    main{
        width: 90%;
    }

    section.article{

        & h3{
            margin:1rem 0;
            text-align: left;
            font-size: 2rem;
        }
    }
    
    article.principal{
        margin:1rem;

        & > .entete{
            margin:3rem 2rem 3rem 2rem;
            padding:1.5rem 0 ;
            font-size:1.5rem;
        }

        & div{
             & .manShapeMobile{
                 display:none;
             }
             & .prenom{
                left:18rem;
                font-size:1.5rem;
                padding-bottom: 1rem;
            }
            & .famille{
                left:18rem;
                font-size:1.5rem;
            }

        }
        & > .manShape{
            display: block;
            width: 30%;
            margin:2rem
        }
        & > p{
            margin:6rem 3em 0em 3em;
       }
        
    }

    .origine{
        @include flex(row-reverse,flex-start,center);
        margin-top:6em;

        & p{
            width:100%;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    .bonheur{
        @include flex(column, flex-start,flex-start);
        margin:1rem 3rem 2rem;

        & p{
            width: 100%;
            text-align: justify;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        & figure {
            width: 40rem;
            font-size: 1rem;
        }
    }

    article.recette{
        @include flex(column,flex-start,flex-start);
        margin:1rem 3rem 2rem;

        & .premierP{
            font-size: 1.5rem;
            line-height: 2rem;
            width:55%;
            margin: 0;
        }
        & h4{
            font-size: 2rem;
            width: 80%;
            padding:2rem;
        }
    }
}

/*----------------------------------------------------------------
---------------------media:1024------------------------------------
----------------------------------------------------------------*/
@include rwd-min-width(1024){
    
    
    article.principal{

        & div{
             & .prenom{
                left:22rem;
                font-size:1.5rem;
                padding-bottom: 1rem;
            }
            & .famille{
                left:22rem;
                font-size:1.5rem;
            }

        }
        & > .manShape{
            display: block;
            width: 30%;
            margin:2rem
        }
        & > p{
            margin:6rem 3em 0em 3em;
       }
        
    }
    .bonheur{
    
        & figure{
            width: 56rem;
            font-size: 1rem;
        }
    }
    article.recette{
        & .premierP{
            width:77%;
        }
    }
}
/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@include rwd-min-width(1600){

    & main{
        width: 90%;
        background-color: var(--blanc);
        position: relative;
        bottom:5rem;
        
        
        & section.article{
            width: 75%;
            margin-top:10rem;
            
            & .principal{
                & div {
                    width: 94%;
                    position: absolute;
                    top:0rem;
                    left: 0rem;
                    
                }

                & h2{
                    font-size: 5rem;
                }
               & img{
                    display:none;
                }
                & p{
                    font-size: 1.5rem;
                }
                & div p{
                    display: none;
                }
            }

            & .recette{
                & p{

                    width: 100%;
                }
                & a p:hover{
                    background-color: var(--orange);
                }

                & .saladeCrevette{
                    margin-top:5rem;
                    @include flex(row,flex-start,flex-start);

                    & img{
                        width:50%
                    }

                    & div{
                        
                        width: 50%;
                        & h4{
                            width: 100%;
                            position: inherit;
                            border: inherit;
                            text-align: left;
                            display: block;
                            font-size: 1.7rem;
                            font-weight: 600;
                            padding:0;
                            margin:1rem 2rem;
                        }
                        & p{
                            width:100%;
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin:1rem 2rem;
                            padding:0
                        }
                        & a p{
                            width: 60%;
                            padding:1rem 0;
                            margin-top:2rem;
                        }

                        & a{
                            padding:0rem;
                        }

                    }
                }
                & .saladeTomate{
                    margin-top:5rem;
                    @include flex(row,flex-start,flex-start);

                    & img{
                        width:50%
                    }

                    & div{
                        
                        width: 50%;

                        & h4{
                            width: 100%;
                            position: inherit;
                            border: inherit;
                            text-align: left;
                            display: block;
                            font-size: 1.7rem;
                            font-weight: 600;
                            padding:0;
                            margin:1rem 2rem;
                        }
                        & p{
                            width:100%;
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin:1rem 2rem;
                            padding:0
                        }
                        & a p{
                            width: 60%;
                            padding:1rem 0;
                            margin-top:2rem;
                        }

                        & a{
                            padding:0rem;
                        }

                    }
                }
                & .sandwich{
                    margin-top:5rem;
                    @include flex(row,flex-start,flex-start);

                    & img{
                        width:50%
                    }

                    & div{
                        
                        width: 50%;
                        & h4{
                            width: 100%;
                            position: inherit;
                            border: inherit;
                            text-align: left;
                            display: block;
                            font-size: 1.7rem;
                            font-weight: 600;
                            padding:0;
                            margin:1rem 2rem;
                        }
                        & p{
                            width:100%;
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin:1rem 2rem;
                            padding:0
                        }
                        & a p{
                            width: 60%;
                            padding:1rem 0;
                            margin-top:2rem;
                        }

                        &a{
                            padding:0rem;
                        }

                    }
                }
            }
        }
    }
}