/*------------------------------------------------------------------------------- 
-----------------------ListeProduit----------------------------------------------
----------------------------------------------------------------------------------  */


section.article{

    &  h3{
        margin: 0rem 3rem;
        font-size: 2rem;
        color: var(--orange); 
        padding-bottom: 0.5em;
        text-align: center;
        line-height: 3rem;
    }
    &  h4{
        background-color: var(--blanc);
        margin: 0 10rem 3rem;
        padding: 1rem 1rem;
        border: 2px solid var(--vert);
        font-size: 2rem;
        text-align: center;
        line-height: 3rem;
        position: relative;
        bottom:4rem
    }

    & img.recette{
        width: 100%;
    }
    
}
article.principal{
    & > .entete{
        background-color: var(--vert);
        color:  var(--blanc);
        margin:3rem 0 2rem ;
        padding:1rem 0 ;
        text-align: center;
        font-weight: 100;
        font-size: 1.5rem;
    }

    & > section.titre{
        padding: 1em 2em;
        
    }

    & > section.titre > h2{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1em;
    }
    
    & > section.titre > p{
        opacity: 0.5;
        padding-top:0,5em;
    }

    & > .manShape{
        display: none;
    }
    & > .manShapeMobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5em 0;
        width: 50%;
    }

    & > p{
         font-weight: 600;
         margin:0 3em 0em 3em;
         text-align: center;
         line-height: 3em;
    }
}

.origine{
    margin: 1rem 3rem;
    text-align: justify;
}

.bonheur{
    @include flex(column, center,center);
    margin: 1rem 3rem 35rem;

    & figure{
        
        align-content: center;
        padding-bottom: 2rem;

    }

    & figure img{
        width: 100vw;
        display: block;
    }

    & figure p{
        font-size: 0.7rem;
    }
}

article.recette{
    @include flex(column, center, center);

    & a p{
        background-color: var(--vert);
        color: var(--blanc);
        text-align: center;
        padding: 1rem;
        margin: 0 13rem 5rem;
        border-radius: 7px;
    }

    & p{
        font-size: 1rem;
        margin: -3rem 3rem 1rem 3rem;
        text-align: justify;
        padding-bottom: 3rem;
    }

    & > p{
        margin: 0 3rem;
    }
}


@media only screen and (min-width: 740px) {

    section.article{
        & h3{
            margin:1rem 0;
            text-align: left;
        }
    }
    
    article.principal{
        margin:1rem;

        & > .entete{
            margin:3rem 2rem 3rem 2rem;
            padding:1.5rem 0 ;
            font-size:1.5rem;
        }

        & > .manShapeMobile{
            display:none;
        }
        & > .manShape{
            display: block;
            width: 30vw;
            margin:2rem
        }
        & > p{
            margin:6rem 3em 0em 3em;
       }
        
    }

    .origine{
        @include flex(row-reverse,flex-start,center);
        margin-top:6em;

        & p{
            width: 90%;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    .bonheur{
        @include flex(column, flex-start,flex-start);
        margin:1rem 3rem 2rem;

        & p{
            width: 100%;
            text-align: justify;
            font-size: 1.5rem;
            line-height: 2rem;
        }

        & figure p{
            font-size: 1rem;
        }
    }

    article.recette{
        @include flex(column,flex-start,flex-start);
        margin:1rem 3rem 2rem;

        & .premierP{
            font-size: 1.5rem;
            line-height: 2rem;
            width:50%;
            margin: 0;
        }
    }
}