/*------------------------------------------------------------------------------- 
-----------------------Footer----------------------------------------------
----------------------------------------------------------------------------------  */

footer{
    background-color:var(--noir);
    color:var(--blanc);
    padding:5rem;
    text-align: center;
}