/*------------------------------------------------------------------------------- 
-----------------------Footer----------------------------------------------
----------------------------------------------------------------------------------  */

footer{
    width: 100%;
    background-color:var(--noir);
    color:var(--blanc);
    padding:5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    margin:0;

    & .copyright{
        margin:0

    }
}


@include rwd-min-width(740){
    footer{
        width:100vw
    }
}