/*------------------------------------------------------------------------------- 
-----------------------header----------------------------------------------
----------------------------------------------------------------------------------  */

header{

    background-image: url(../foodiesImg/headerVrai-assets/photo-480.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 16rem;

    & img{
        width: 60%;
        display: block;
        margin:auto;
        position: relative;
        top: 5em;
    }
}

/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/

@media only screen and (min-width:740px){
    header{
        background-image: url(../foodiesImg/header-assets/photo-740.jpg);
        height: 25rem;
    }
}

@media only screen and (min-width:1024px){
    header{
        background-image: url(../foodiesImg/header-assets/photo-1024.jpg);
        height: 35rem;
    }
}


/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media only screen and (min-width:1600px){
    header{
        background-image: url(../foodiesImg/header-assets/photo-1600.jpg);
        height: 45rem;

        & img{
            top:8rem;
        }
    }
}
