/*------------------------------------------------------------------------------- 
-----------------------header----------------------------------------------
----------------------------------------------------------------------------------  */

header{

    background-image: url(../foodiesImg/headerVrai-assets/photo-480.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 30vh;
    
    

    & img{
        width: 60vw;
        display: block;
        margin:auto;
        position: relative;
        top: 10em;
    }
}

@media only screen and (min-width: 740px) {
    
}
