/*------------------------------------------------------------------------------- 
-----------------------NavPrincipale----------------------------------------------
----------------------------------------------------------------------------------  */

nav{
   
   @include flex(column,flex-start, flex-start);
   width:70%;
   height: 100vh;
   z-index: 1500;
   background-color:black;
   color:var(--blanc);
   position:fixed;
   
   
        & ul{
        @include flex(column,flex-start, flex-start);
         width: 100%;
         height: 60%;
        }
        & li{
            @include flex(row,center,center);
            padding: 1.6em;
            color: var(--blanc);
            border-bottom: 1px solid var(--blanc);
            & img{
                width: 4rem;
                color: var(--blanc);
                position: relative;
                top:3em
            }
        }
    }
    i{
    color:var(--orange);//pas oublier************************
    font-size: 6rem;
    float: right;
    padding: 0.8rem 2rem 0 0;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1600;
}   



/*////[Navigation principale programmation]
________________________________________________________*/
.nav-principale{
    @keyframes fadeinMenu {
        from {
            opacity: 0;
        }
        to {
            opacity:1;
        }
    }
    left:0px;
    animation: fadeinMenu 1s;
    &:not(.nav-principale-open){
        display:none;
    }
}

    
//float déplace tout