/*------------------------------------------------------------------------------- 
-----------------------NavPrincipale----------------------------------------------
----------------------------------------------------------------------------------  */

nav{
   
   @include flex(column,flex-start, flex-start);
   width:100%;
   height: 100%;
   z-index: 1500;
   background-color:var(--noir);
   color:var(--blanc);
   position:fixed;
   
   
        & ul{
        @include flex(column,flex-start, flex-start);
         width: 100%;
         height: 100%;
        }
        & li{
            @include flex(column,flex-start, flex-start);
            width: 100%;
            padding: 1.6em;
            color: var(--blanc);
            border-bottom: 1px solid var(--blanc);
            margin-left: 0;
            text-align: left;
            font-size: 2rem;
        }
    }
    i{
    color:var(--orange);
    font-size: 5rem;
    float: right;
    padding: 0.8rem 2rem 0 0;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1600;
}   



/*////[Navigation principale programmation]
________________________________________________________*/
.nav-principale{
    @keyframes fadeinMenu {
        from {
            opacity: 0;
        }
        to {
            opacity:1;
        }
    }
    left:0px;
    animation: fadeinMenu 1s;
    &:not(.nav-principale-open){
        display:none;
    }
}

    
//float déplace tout