/*-------------------------10------------------------------------------------------ 
-----------------------Publicité----------------------------------------------
----------------------------------------------------------------------------------  */

section.article{

    & img.pub {
        width: 40vw;
        display: block;
        margin: 6em auto 6em auto;
        
    }

    & div img.pub3{
        width: 40vw;
        position: absolute;
        top:287.5em;
    }
}