/*-------------------------10------------------------------------------------------ 
-----------------------Publicité----------------------------------------------
----------------------------------------------------------------------------------  */

article{
    & .pub1{
        margin: 8rem auto;
        background-color: grey;
        width:20rem;
        padding:12rem 3rem;
        color:var(--blanc);
        font-size:2rem;
        text-align: center;
        
    }


    & .pub2{
        background-color: grey;
        padding:8rem 3rem;
        width:20rem;
        margin:8rem auto;
        color:var(--blanc);
        font-size:2rem;
        text-align: center;
        
    }

    & .pub3{
        background-color: grey;
        width:20rem;
        padding:8rem 3rem;
        margin:auto;
        color:var(--blanc);
        font-size:2rem;
        text-align: center;
        position: absolute;
        top:234rem
    }
    
}

@include rwd-min-width(740){
    article{
        & .pub1 {
            width:15rem;
            height:20rem;
            margin:0 0 3rem 4rem;
            position: relative;
            top: 3rem;
        
        }
        & .pub2 {
            width:15rem;
            margin-left:4rem;
            position: absolute;
            right:3rem;
            top:186rem;
        }
        & .pub3 {
            width:15rem;
            margin-left:4rem;
            right:3rem;
            top:219rem
        }
        
    }
}