/*-------------------------10------------------------------------------------------ 
-----------------------Publicité----------------------------------------------
----------------------------------------------------------------------------------  */

article{
    & .pub1{
        margin: 5rem auto;
        background-color:var(--noir);
        width:10rem;
        padding:8rem 3rem;
        color:var(--blanc);
        font-size:1rem;
        text-align: center;
        
    }


    & .pub2{
        margin: 5rem auto;
        background-color:var(--noir);
        width:10rem;
        padding:8rem 3rem;
        color:var(--blanc);
        font-size:1rem;
        text-align: center;   
    }
    
}
/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/

@include rwd-min-width(740){
    article{
        & .pub1 {
            margin:0 0 3rem 4rem;
            position: relative;
            top: 1.5rem;
        }
        & .pub2 {
            margin-left:4rem;
            position: absolute;
            right:3rem;
            top:192.5rem;
        }
    }
}

/*----------------------------------------------------------------
---------------------media:1024------------------------------------
----------------------------------------------------------------*/

@include rwd-min-width(1024){
        article{
            & .pub2 {
                top:193rem;
            }
        }
}
/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@include rwd-min-width(1600){
    article{
        & .pub1 {
            display: none;
        }
        & .pub2 {
            display: none;
        }
    }
}