/*------------------------------------------------------------------------------- 
-----------------------ListeProduit----------------------------------------------
----------------------------------------------------------------------------------  */
section.article{

    & .pub {
        width: 40vw;
        display: block;
        margin: 6em auto 6em auto;
    }

    &  h3{
        margin: 1rem 3rem;
        font-size: 4rem;
        color: var(--orange); //ça c'est correct
        padding-bottom: 0.5em;
        text-align: center;
        line-height: 5rem;
    }
    &  h4{
        margin: 1rem 3rem;
        font-size: 2rem;
        color: var(--orange); //ça c'est correct
        padding-bottom: 0.5em;
        text-align: center;
        line-height: 5rem;
    }


    & img.recette{
        width: 100vw;
    }

}
article.principal{
    & > .entete{
        background-color: yellowgreen;
        color: white;
        margin:2em 0 ;
        padding:1em 0 ;
        text-align: center;
        font-weight: 100;
        
    }
    & > section.titre{
        padding: 1em 2em;
        
    }

    & > section.titre > h2{
    font-size: 4em;
    font-weight: 300;
    line-height: 1em;
    }
    
    & > section.titre > p{
        opacity: 0.5;
        padding-top:0,5em;
    }
    & > .manShapeMobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5em 0;
        width: 50vw;

    }
    & > p{
         font-weight: 600;
         margin:0 3em 0em 3em;
         text-align: center;
         line-height: 3em;
    }
}

.origine{

    margin: 1rem 3rem;
    text-align: justify;
}

.bonheur{
    @include flex(column, center,center)
    margin: 1rem 3rem;

    & figure{
        
        align-content: center;
        padding-bottom: 2rem;

    }

    & figure img{
        width: 80vw;
        display: block;
    }

    & figure p{
        font-size: 0.7rem;
    }
}

.recette{

}



