/*------------------------------------------------------------------------------- 
-----------------------ListeProduit----------------------------------------------
----------------------------------------------------------------------------------  */

article.principal{
    & > .entete{
        background-color: yellowgreen;
        color: white;
        margin:2em 0 ;
        padding:1em 0 ;
        text-align: center;
        font-weight: 100;
        
    }
    & > section.titre{
        padding: 0.5em 1.5em;
        
    }

        & > section.titre > h2{
        font-size: 4em;
        font-weight: 300;
        line-height: 1em;
    }
    & > section.titre > p{
        opacity: 0.5;
        padding-top:0,5em;
    }
    & > .manShapeMobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5em 0;
        width: 50vw;

    }
    & > p{
         font-weight: 600;
         margin:0 3em;
         text-align: center;
         line-height: 3em;
    }
}

//font rétréci pas

