/*------------------------------------------------------------------------------- 
-----------------------header----------------------------------------------
----------------------------------------------------------------------------------  */

header{
    display: block;
    background-image: url(../foodiesImg/header-assets/photo-480.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 37vh;
}
