/*-------------------------9------------------------------------------------------ 
-----------------------NavPrincipale----------------------------------------------
----------------------------------------------------------------------------------  */

nav.menu{

    background-color: black;
    height: 4vh;
    
        & li{
        display: none;
        }

        & > .material-icons{
        color: white;
        font-size: 4em;
        
        }   

}

//var
//float déplace tout