/*------------------------------------------------------------------------------- 
-----------------------NavPrincipale----------------------------------------------
----------------------------------------------------------------------------------  */

nav.menu{

    background-color:black; //sa tu vois sa marche pas
    height: 7vh;
    
    
        & li{
        display: none;
        }

        & > .material-icons{
        color: white;//pas oublierddddddddddddddddddddddd
        font-size: 6em;
        
    }   

}

//float déplace tout