@charset "UTF-8";
/* variables  */
:root {
  --vert: hsl(66, 40%, 50%);
  --orange: hsl(14, 80%, 50%);
  --blanc: hsl(0, 0%, 100%);
  --noir: hsl(0, 0%, 0%);
}

/* mixin ---------------  */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a, a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

nav ul {
  list-style: none;
}

img {
  display: block;
}

/*-------------------------1------------------------------------------------------ 
-----------------------grilleDesktop----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------2------------------------------------------------------ 
-----------------------grilleMobile----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------3------------------------------------------------------ 
-----------------------sousGrilleContenu----------------------------------------------
----------------------------------------------------------------------------------  */
/*------------------------------------------------------------------------------- 
-----------------------NavPrincipale----------------------------------------------
----------------------------------------------------------------------------------  */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: var(--noir);
  color: var(--blanc);
  position: fixed;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 1.6em;
  color: var(--blanc);
  border-bottom: 1px solid var(--blanc);
  margin-left: 0;
  text-align: left;
  font-size: 2rem;
}

i {
  color: var(--orange);
  font-size: 3rem;
  float: right;
  padding: 0.8rem 2rem 0 0;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1600;
}

/*////[Navigation principale programmation]
________________________________________________________*/
.nav-principale {
  left: 0px;
  -webkit-animation: fadeinMenu 1s;
          animation: fadeinMenu 1s;
}

@-webkit-keyframes fadeinMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-principale:not(.nav-principale-open) {
  display: none;
}

/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1600px) {
  .menuMobile {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  nav ul li {
    border-bottom: none;
    font-size: 1.3rem;
    padding: 0;
  }
  .nav-principale {
    left: 0px;
    -webkit-animation: fadeinMenu 0s;
            animation: fadeinMenu 0s;
  }
  .nav-principale:not(.nav-principale-open) {
    display: block;
  }
}

/*------------------------------------------------------------------------------- 
-----------------------header----------------------------------------------
----------------------------------------------------------------------------------  */
header {
  background-image: url(../foodiesImg/headerVrai-assets/photo-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16rem;
}

header img {
  width: 60%;
  display: block;
  margin: auto;
  position: relative;
  top: 5em;
}

/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/
@media only screen and (min-width: 740px) {
  header {
    background-image: url(../foodiesImg/header-assets/photo-740.jpg);
    height: 25rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    background-image: url(../foodiesImg/header-assets/photo-1024.jpg);
    height: 35rem;
  }
}

/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media only screen and (min-width: 1600px) {
  header {
    background-image: url(../foodiesImg/header-assets/photo-1600.jpg);
    height: 45rem;
  }
  header img {
    top: 8rem;
  }
}

/*------------------------------------------------------------------------------- 
-----------------------Footer----------------------------------------------
----------------------------------------------------------------------------------  */
footer {
  width: 100%;
  background-color: var(--noir);
  color: var(--blanc);
  padding: 3rem;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  margin: 0;
}

footer .copyright {
  margin: 0;
}

/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/
@media (min-width: 740px) {
  footer {
    width: 100vw;
  }
}

/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1600px) {
  footer {
    font-size: 2rem;
  }
}

/*------------------------------------------------------------------------------- 
-----------------------ListeProduit----------------------------------------------
----------------------------------------------------------------------------------  */
.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

section.article h3 {
  width: 85%;
  font-size: 1.5rem;
  color: var(--orange);
  padding-bottom: 0.5em;
  text-align: center;
  line-height: 3rem;
}

section.article h4 {
  display: block;
  width: 50%;
  margin: 0 auto 3rem auto;
  background-color: var(--blanc);
  padding: 1rem 1rem;
  border: 2px solid var(--vert);
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  position: relative;
  bottom: 4rem;
}

section.article img.recette {
  width: 100%;
}

article.principal > .entete {
  background-color: var(--vert);
  color: var(--blanc);
  margin: 3rem 0 2rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
}

article.principal > section.titre {
  padding: 1em 2em;
}

article.principal > section.titre > h2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1em;
}

article.principal > section.titre > p {
  opacity: 0.5;
  padding-top: 0,5em;
}

article.principal > .manShape {
  display: none;
}

article.principal div .manShapeMobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 0 2rem 0;
  width: 50%;
}

article.principal div .prenom {
  font-weight: 600;
  position: relative;
  bottom: 6rem;
  left: 12rem;
}

article.principal div .famille {
  position: relative;
  bottom: 6rem;
  left: 12rem;
}

article.principal > p {
  font-weight: 600;
  margin: 0 3em 0em 3em;
  text-align: center;
  line-height: 3em;
}

.origine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 3rem;
  text-align: justify;
}

.origine h3 {
  margin-left: 2rem;
}

.bonheur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 3rem 5rem;
}

.bonheur figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 2rem;
}

.bonheur figure img {
  width: 100%;
}

.bonheur figure p {
  font-size: 0.7rem;
}

.bonheur p {
  text-align: justify;
}

article.recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

article.recette a p {
  width: 40%;
  background-color: var(--vert);
  color: var(--blanc);
  text-align: center;
  padding: 1rem;
  margin: 2rem auto 3rem auto;
  border-radius: 7px;
}

article.recette a p:active {
  opacity: 0.8;
}

article.recette p {
  font-size: 1rem;
  margin: -3rem 3rem 1rem 3rem;
  text-align: justify;
  padding-bottom: 3rem;
}

article.recette > p {
  margin: 0 3rem;
}

/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/
@media only screen and (min-width: 740px) {
  main {
    width: 90%;
  }
  section.article h3 {
    margin: 1rem 0;
    text-align: left;
    font-size: 2rem;
  }
  article.principal {
    margin: 1rem;
  }
  article.principal > .entete {
    margin: 3rem 2rem 3rem 2rem;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
  article.principal div .manShapeMobile {
    display: none;
  }
  article.principal div .prenom {
    left: 18rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  article.principal div .famille {
    left: 18rem;
    font-size: 1.5rem;
  }
  article.principal > .manShape {
    display: block;
    width: 30%;
    margin: 2rem;
  }
  article.principal > p {
    margin: 6rem 3em 0em 3em;
  }
  .origine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6em;
  }
  .origine p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .bonheur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 1rem 3rem 2rem;
  }
  .bonheur p {
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .bonheur figure {
    width: 40rem;
    font-size: 1rem;
  }
  article.recette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 1rem 3rem 2rem;
  }
  article.recette .premierP {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 55%;
    margin: 0;
  }
  article.recette h4 {
    font-size: 2rem;
    width: 80%;
    padding: 2rem;
  }
}

/*----------------------------------------------------------------
---------------------media:1024------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1024px) {
  article.principal div .prenom {
    left: 22rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  article.principal div .famille {
    left: 22rem;
    font-size: 1.5rem;
  }
  article.principal > .manShape {
    display: block;
    width: 30%;
    margin: 2rem;
  }
  article.principal > p {
    margin: 6rem 3em 0em 3em;
  }
  .bonheur figure {
    width: 56rem;
    font-size: 1rem;
  }
  article.recette .premierP {
    width: 77%;
  }
}

/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1600px) {
  main {
    width: 90%;
    background-color: var(--blanc);
    position: relative;
    bottom: 5rem;
  }
  main section.article {
    width: 75%;
    margin-top: 10rem;
  }
  main section.article .principal div {
    width: 94%;
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
  main section.article .principal h2 {
    font-size: 5rem;
  }
  main section.article .principal img {
    display: none;
  }
  main section.article .principal p {
    font-size: 1.5rem;
  }
  main section.article .principal div p {
    display: none;
  }
  main section.article .recette p {
    width: 100%;
  }
  main section.article .recette a p:hover {
    background-color: var(--orange);
  }
  main section.article .recette .saladeCrevette {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section.article .recette .saladeCrevette img {
    width: 50%;
  }
  main section.article .recette .saladeCrevette div {
    width: 50%;
  }
  main section.article .recette .saladeCrevette div h4 {
    width: 100%;
    position: inherit;
    border: inherit;
    text-align: left;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0;
    margin: 1rem 2rem;
  }
  main section.article .recette .saladeCrevette div p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 2rem;
    padding: 0;
  }
  main section.article .recette .saladeCrevette div a p {
    width: 60%;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  main section.article .recette .saladeCrevette div a {
    padding: 0rem;
  }
  main section.article .recette .saladeTomate {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section.article .recette .saladeTomate img {
    width: 50%;
  }
  main section.article .recette .saladeTomate div {
    width: 50%;
  }
  main section.article .recette .saladeTomate div h4 {
    width: 100%;
    position: inherit;
    border: inherit;
    text-align: left;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0;
    margin: 1rem 2rem;
  }
  main section.article .recette .saladeTomate div p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 2rem;
    padding: 0;
  }
  main section.article .recette .saladeTomate div a p {
    width: 60%;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  main section.article .recette .saladeTomate div a {
    padding: 0rem;
  }
  main section.article .recette .sandwich {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section.article .recette .sandwich img {
    width: 50%;
  }
  main section.article .recette .sandwich div {
    width: 50%;
  }
  main section.article .recette .sandwich div h4 {
    width: 100%;
    position: inherit;
    border: inherit;
    text-align: left;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0;
    margin: 1rem 2rem;
  }
  main section.article .recette .sandwich div p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 2rem;
    padding: 0;
  }
  main section.article .recette .sandwich div a p {
    width: 60%;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  main section.article .recette .sandwich diva {
    padding: 0rem;
  }
}

/*-------------------------10------------------------------------------------------ 
-----------------------Publicité----------------------------------------------
----------------------------------------------------------------------------------  */
article .pub1 {
  margin: 5rem auto;
  background-color: var(--noir);
  width: 10rem;
  padding: 8rem 3rem;
  color: var(--blanc);
  font-size: 1rem;
  text-align: center;
}

article .pub2 {
  margin: 5rem auto;
  background-color: var(--noir);
  width: 10rem;
  padding: 8rem 3rem;
  color: var(--blanc);
  font-size: 1rem;
  text-align: center;
}

/*----------------------------------------------------------------
---------------------media:740------------------------------------
----------------------------------------------------------------*/
@media (min-width: 740px) {
  article .pub1 {
    margin: 0 0 3rem 4rem;
    position: relative;
    top: 1.5rem;
  }
  article .pub2 {
    margin-left: 4rem;
    position: absolute;
    right: 3rem;
    top: 192.5rem;
  }
}

/*----------------------------------------------------------------
---------------------media:1024------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1024px) {
  article .pub2 {
    top: 193rem;
  }
}

/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1600px) {
  article .pub1 {
    display: none;
  }
  article .pub2 {
    display: none;
  }
}

/*------------------------------------------------------------------------------- 
-----------------------Aside----------------------------------------------
----------------------------------------------------------------------------------  */
aside {
  display: none;
}

/*----------------------------------------------------------------
---------------------media:1600------------------------------------
----------------------------------------------------------------*/
@media (min-width: 1600px) {
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    margin-top: 8.5rem;
  }
  aside .Auteur {
    padding-bottom: 7rem;
  }
  aside .Auteur img {
    width: 18vw;
    margin: 4rem 2rem;
  }
  aside .Auteur .prenom {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  aside .Auteur .famille {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
  aside div {
    width: 18vw;
    height: 40rem;
    padding-top: 20rem;
    margin: 5rem 0;
    background-color: var(--noir);
    color: var(--blanc);
    font-size: 3rem;
    text-align: center;
  }
}

/*-------------------------11------------------------------------------------------ 
-----------------------gallerieImage----------------------------------------------
----------------------------------------------------------------------------------  */
/*-------------------------12------------------------------------------------------ 
-----------------------Login----------------------------------------------
----------------------------------------------------------------------------------  */
/*# sourceMappingURL=style.css.map */